@model HealthPlus.Models.Trainings

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trainings</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.training_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.training_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.training_description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.training_description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.exercise_list)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.exercise_list)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_training">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
